<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-media-artbdg" >
	<tr>
		<td>
			<f:translate key="tx_mediaartbdg_domain_model_author.name" />
		</td>
		<td>
		{author.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mediaartbdg_domain_model_author.bio" />
		</td>
		<td>
		<f:format.html>{author.bio}</f:format.html>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mediaartbdg_domain_model_author.pictures" />
		</td>
		<td>
				<f:for each="{author.pictures}" as="image" >
					<f:image src="{image.originalResource.publicUrl}" width="200"/>
				</f:for>
		</td>
	</tr>
	<tr>

		<tr>
			<td>
				<f:translate key="tx_mediaartbdg_domain_model_author.medias" />
			</td>
			<td>
				<f:for each="{author.medias}" as="media" >
					<f:link.action action="show" arguments="{media : medias}"> {media.name}</f:link.action>
				</f:for>
			</td>
		</tr>

		<td>
			<f:translate key="tx_mediaartbdg_domain_model_author.socials" />
		</td>
		<td>
			<f:for each="{author.socials}" as="social" >
				<f:link.external uri='{social.title}' target="_blank">twitter</f:link.external>
			</f:for>
		</td>
	</tr>
</table>
</html>
