<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

  <f:section name="main">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div class="container">
      <h1>Details du livre</h1>
      <f:flashMessages />
      <f:render partial="Media/Properties" arguments="{media:media}" />
      <i class="fa fa-chevron-left " style="margin-right : 10px;"></i><f:link.action action="list">Retour à la liste des livres</f:link.action><br />
    </div>
  </f:section>
</html>
