<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

<f:flashMessages />
<div class="container">

  <div  class="tx_mediaartbdg" >

    <div class="row">
      <f:for each="{authors}" as="author">
        <div class="col-md-3">
          <div class="border">
      			<f:link.action action="show" arguments="{author : author}"> {author.name}</f:link.action>
            <f:for each="{pictures}" as ="picture">
            <!-- Marche paaaaaaaaaaas -->
            <f:image src="{picture.originalResource.publicUrl}" width="200"/>
      			   <f:debug>{picture}</f:debug>
            </f:for>
          </div>

        </div>
    	</f:for>
    </div>

  </div>

</div>

</f:section>
</html>

<style>
.border{
  border: 1px solid #ff8700;
  border-radius: 5px;
}
</style>
